
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  font-size:17px;
  position:relative;
  left:5%;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
 background-color:lightblue;
}

.active {
  
 font-size:18px;
  
}

#header{

background-color:#666666;
}

#globe{

font-size:15px;
left:80%;
position:relative;
color:white;
}

#en{

color:white;
text-decoration:none;
left:80%;
position:relative;
}

#bg{

color:white;
text-decoration:none;
left:80%;
position:relative;
}

#div1{

background-color:#e67300;
padding:0.1px;
}

#h1{

font-size:45px;
color:white;
left:5%;
position:relative;
}

#home{
border-right:solid black 1px;
font-size:18px;
}

#news{
border-right:solid black 1px;
font-size:18px;
}

#about{
position:relative;
float:right;
font-size:18px;
}

#footer{

background-color:grey;
position:absolute;
bottom:0;
padding:10px;
width:97.5%
}

#inst{

font-size:30px;
color:orange;
position:relative;
left:7%;
}

#link2{

text-decoration:none;
position:relative;

}

#link1{

text-decoration:none;
position:relative;
}

#yb{

font-size:30px;
color:red;
position:relative;
left:3%;
}

#fb{

font-size:30px;
position:relative;
color:blue;
left:5%;
}

#eco{
	
	width:30%;
	position:absolute;
	left:59%;
	top:45%;
	border:solid #e67300 5px;
	
}
