body{

}
div {
  background-image: url('https://rlv.zcache.ca/h_linear_gradient_green_to_black_baby_t_shirt-rca4356a22e0d4f4f828bf0303e4fd8ad_j2nhu_307.jpg?rvtype=content');
}
h1{
	font-family:Serif;
}
li a:hover {
 background-color:#88d969;
}

.active {
  
  font-size:18px;
  background-color:green;
  
}

#header{

background-color:#1d800e;
}

#globe{

font-size:15px;
left:1240px;
position:relative;
color:white;
}

#en{

color:white;
text-decoration:none;
border-right:solid white 1px;
left:1245px;
position:relative;
}

#bg{

color:white;
text-decoration:none;
left:1250px;
position:relative;
}

#div1{

background-color:#06A10B;
position:relative;
padding:0.2px;
}

#h1{

font-size:45px;
color:white;
left:70px;
position:relative;
}

#home{
	border-right:solid green 1px;

font-size:18px;
}

#news{
	border-right:solid green 1px;
font-size:18px;
}
#contact{
	border-right:solid green 1px;
font-size:18px;
}
#about{
border-right:solid green 1px;
border-bottom:solid green 1px;
font-size:18px;
}

#footer{

background-color:green;
position:relative;
top:455px;
padding:10px
}

#link2{

test-decoration:none;
position:relative;
left:60px
}

#link1{

test-decoration:none;
position:relative;
left:40px
}

#yb{

font-size:30px;
color:grey;
}

#fb{
font-size:30px;
color:grey;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #red;
color: white;}
